<article ng-class="{loading: qiita.showLoading}">
	<header>
		<h1>{{qiita.item.title}}</h1>
		<ul class="data">
			<li class="date"><time datetime="{{qiita.item.created_at | dateParse | date:'yyyy-MM-ddThh:mm:ssZ'}}" pubdate>{{qiita.item.created_at | dateParse | date:'yyyy-MM-dd HH:mm:ss'}}</time></li>
			<li class="tag" ng-repeat="tag in qiita.item.tags">
				<a href="/weblog/tags/{{tag.name}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{tag.name}}'">{{tag.name}}</a>
			</li>

			<li class="revisions"><a href="{{qiita.item.url}}/revisions">編集履歴</a></li>
		</ul>
	</header>

	<div class="content">
		<nav class="pageNav" id="pageNav">
			<h2 class="pageNav">目次</h2>
			<ol>
				<li ng-repeat="headding in pageHeadingElement" ng-cloak ng-if="headding.tagName === 'H2'">
					<a ng-href="#{{headding.id}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{headding.innerText}}'">{{headding.innerText}}</a>
				</li>
			</ol>
		</nav>

		<div ng-bind-html="qiita.item.body">
		</div>
		<p ng-cloak ng-show="qiita.showErrorMessage" class="center"><small>apiのメンテナンス、もしくは読み込み環境の影響で読み込みに失敗しました。<br>時間をおいてお試しください。</small></p>

		<sns></sns>
	</div>
</article>