<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charaset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/import.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,target-densitydpi=device-dpi">

	<meta property="og:title" content="<%= title %>">
	<% if (title === 'clover.blue') { %>
	<meta property="og:type" content="website">
	<% } else { %>
	<meta property="og:type" content="article">
	<% } %>
	<meta property="og:description" content="<%= title %>">
	<meta property="og:image" content="http://clover.blue/og.gif">
	<meta property="og:site_name" content="<%= title %>">

	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://clover.blue/feed" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://clover.blue/feed/weblog" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://clover.blue/feed/design" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://clover.blue/feed/illust" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://clover.blue/feed/photo" />
</head>
<body>

<header id="header">
	<h1><a href="/">clover.blue</a></h1>

	<nav>
		<ul class="icos">
			<li class="home"><a href="/">ホーム</a></li>
			<li class="diary"><a href="/diary">日記</a></li>
			<li class="weblog"><a href="/weblog">記事</a></li>
			<li class="illust"><a href="/illust">イラスト</a></li>
			<li class="design"><a href="/design">デザイン</a></li>
			<li class="photo"><a href="/photo">写真</a></li>
			<li class="about"><a href="/about">サイトについて</a></li>
		</ul>
	</nav>
</header>