.test {
  background: red;
}
.♥, .♦ {
  color: red;
}
.♣ {
  color: #3bbfce;
}
.card {
  width: 228px;
  height: 356px;

  perspective: 1000;
  position: absolute;
}
.inner {
  width: 228px;
  height: 356px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  transform-style:preserve-3d;
  font-family: helvetica;
  transition: all 1s ease;
  transform-style: preserve-3d;
  transition: .6s;
}
.front, .back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 6px;
}
.front {
  background-image: linear-gradient(#fff, #f5f5f5);
  transform: rotateY(0);
  display: table;
  vertical-align: middle;
  overflow: hidden;
}
.front:before, .front:after {
  display: block;
  padding: 10px;
  width: 100%;
  position: absolute;
  white-space: pre;
  display: block;
  -webkit-box-reflect: right;
  box-sizing: border-box;
  line-height: 1.4;
  text-align: left;
  font-size: 20px;
}
.front:before {
  top: 0;
  left: 0;
}
.front:after {
  right: 0;
  bottom: 0;
  transform:rotate(-180deg);
}
.back {
  background-image: linear-gradient(#fff, #f5f5f5);
  transform: rotateY(-180deg);

  background-color: #888;
  background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(-45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
  background-size: 25px 25px;
}
.front {

}
.♠_1 .front:before, .♠_1 .front:after {
  content: 'A\A♠';
}
.♥_1 .front:before, .♥_1 .front:after {
  content: 'A\A♥';
}
.♣_1 .front:before, .♣_1 .front:after {
  content: 'A\A♣';
}
.♦_1 .front:before, .♦_1 .front:after {
  content: 'A\A♦';
}
.♠_2 .front:before, .♠_2 .front:after {
    content: '2\A♠';
  }
.♥_2 .front:before, .♥_2 .front:after {
    content: '2\A♥';
  }
.♣_2 .front:before, .♣_2 .front:after {
    content: '2\A♣';
  }
.♦_2 .front:before, .♦_2 .front:after {
    content: '2\A♦';
  }
.♠_3 .front:before, .♠_3 .front:after {
    content: '3\A♠';
  }
.♥_3 .front:before, .♥_3 .front:after {
    content: '3\A♥';
  }
.♣_3 .front:before, .♣_3 .front:after {
    content: '3\A♣';
  }
.♦_3 .front:before, .♦_3 .front:after {
    content: '3\A♦';
  }
.♠_4 .front:before, .♠_4 .front:after {
    content: '4\A♠';
  }
.♥_4 .front:before, .♥_4 .front:after {
    content: '4\A♥';
  }
.♣_4 .front:before, .♣_4 .front:after {
    content: '4\A♣';
  }
.♦_4 .front:before, .♦_4 .front:after {
    content: '4\A♦';
  }
.♠_5 .front:before, .♠_5 .front:after {
    content: '5\A♠';
  }
.♥_5 .front:before, .♥_5 .front:after {
    content: '5\A♥';
  }
.♣_5 .front:before, .♣_5 .front:after {
    content: '5\A♣';
  }
.♦_5 .front:before, .♦_5 .front:after {
    content: '5\A♦';
  }
.♠_6 .front:before, .♠_6 .front:after {
    content: '6\A♠';
  }
.♥_6 .front:before, .♥_6 .front:after {
    content: '6\A♥';
  }
.♣_6 .front:before, .♣_6 .front:after {
    content: '6\A♣';
  }
.♦_6 .front:before, .♦_6 .front:after {
    content: '6\A♦';
  }
.♠_7 .front:before, .♠_7 .front:after {
    content: '7\A♠';
  }
.♥_7 .front:before, .♥_7 .front:after {
    content: '7\A♥';
  }
.♣_7 .front:before, .♣_7 .front:after {
    content: '7\A♣';
  }
.♦_7 .front:before, .♦_7 .front:after {
    content: '7\A♦';
  }
.♠_8 .front:before, .♠_8 .front:after {
    content: '8\A♠';
  }
.♥_8 .front:before, .♥_8 .front:after {
    content: '8\A♥';
  }
.♣_8 .front:before, .♣_8 .front:after {
    content: '8\A♣';
  }
.♦_8 .front:before, .♦_8 .front:after {
    content: '8\A♦';
  }
.♠_9 .front:before, .♠_9 .front:after {
    content: '9\A♠';
  }
.♥_9 .front:before, .♥_9 .front:after {
    content: '9\A♥';
  }
.♣_9 .front:before, .♣_9 .front:after {
    content: '9\A♣';
  }
.♦_9 .front:before, .♦_9 .front:after {
    content: '9\A♦';
  }
.♠_10 .front:before, .♠_10 .front:after {
    content: '10\A♠';
  }
.♥_10 .front:before, .♥_10 .front:after {
    content: '10\A♥';
  }
.♣_10 .front:before, .♣_10 .front:after {
    content: '10\A♣';
  }
.♦_10 .front:before, .♦_10 .front:after {
    content: '10\A♦';
  }
.♠_11 .front:before, .♠_11 .front:after {
    content: '11\A♠';
  }
.♥_11 .front:before, .♥_11 .front:after {
    content: '11\A♥';
  }
.♣_11 .front:before, .♣_11 .front:after {
    content: '11\A♣';
  }
.♦_11 .front:before, .♦_11 .front:after {
    content: '11\A♦';
  }
.♠_12 .front:before, .♠_12 .front:after {
    content: '12\A♠';
  }
.♥_12 .front:before, .♥_12 .front:after {
    content: '12\A♥';
  }
.♣_12 .front:before, .♣_12 .front:after {
    content: '12\A♣';
  }
.♦_12 .front:before, .♦_12 .front:after {
    content: '12\A♦';
  }
.♠_13 .front:before, .♠_13 .front:after {
    content: '13\A♠';
  }
.♥_13 .front:before, .♥_13 .front:after {
    content: '13\A♥';
  }
.♣_13 .front:before, .♣_13 .front:after {
    content: '13\A♣';
  }
.♦_13 .front:before, .♦_13 .front:after {
    content: '13\A♦';
  }
/* mark */
.mark {
  font-size: 35px;
  white-space: pre;
  text-align: center;
  display: block;
}
.mark:before, .mark:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.♠ .mark:before {
  content: '♠';
}
.♥ .mark:before {
  content: '♥';
}
.♣ .mark:before {
  content: '♣';
}
.♦ .mark:before {
  content: '♦';
}
/* number1 */
.num_1 .mark {
  display: table-cell;
  vertical-align: middle;
}
.num_1 .mark:before {
  display: none;
}
/* number2 */
.num_2 .mark {
  line-height: calc(356px / 2);
  -webkit-box-reflect: below;
  vertical-align: top;
  display: block;
}
.num_2 .mark:before {
  display: none;
}
/* number3 */
.num_3 .mark, .num_6 .mark {
  line-height: 356px;
  position: relative;
}
.num_3 .mark:before, .num_6 .mark:before {
  line-height: calc(356px / 2);
  -webkit-box-reflect: below;
  vertical-align: top;
  right: 0;
  width: 100%;
}
/* number4 */
.♠.num_4 .mark:before {
  content: '♠       ♠';
}
.♥.num_4 .mark:before {
  content: '♥       ♥';
}
.♣.num_4 .mark:before {
  content: '♣       ♣';
}
.♦.num_4 .mark:before {
  content: '♦       ♦';
}
.num_4 .mark, .num_5 .mark, .num_7 .mark, .num_8 .mark {
  text-indent: -9999px;
}
.num_4 .mark:before, .num_5 .mark:before, .num_7 .mark:before, .num_8 .mark:before {
  line-height: calc(356px / 2);
  text-indent: 0;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below;
}
/* number5 */
.♠.num_5 .mark:before {
  content: '♠       ♠';
}
.♥.num_5 .mark:before {
  content: '♥       ♥';
}
.♣.num_5 .mark:before {
  content: '♣       ♣';
}
.♦.num_5 .mark:before {
  content: '♦       ♦';
}
.num_5 .mark, .num_7 .mark, .num_8 .mark {
  text-indent: 0;
  line-height: calc(356px);
}
/* number6 */
.num_6 .mark {
  width: 50%;
  -webkit-box-reflect: right;
}
/* number7 */
.♠.num_7 .mark:before {
  content: '♠       ♠';
}
.♠.num_7 .mark:after {
  content: '♠';
}
.♥.num_7 .mark:before {
  content: '♥       ♥';
}
.♥.num_7 .mark:after {
  content: '♥';
}
.♣.num_7 .mark:before {
  content: '♣       ♣';
}
.♣.num_7 .mark:after {
  content: '♣';
}
.♦.num_7 .mark:before {
  content: '♦       ♦';
}
.♦.num_7 .mark:after {
  content: '♦';
}
.num_7 .mark {
  line-height: calc(356px / 1.3);
}
.num_7 .mark:after {
  width: 50%;
  line-height: calc(356px);
  -webkit-box-reflect: right;
}
/* number8 */
.♠.num_8 .mark:before {
  top: calc(356px / 8 * 1.5);
  content: '♠       ♠\A♠';
  line-height: calc(356px / 8);
}
.♠.num_8 .mark:after {
  content: '♠';
}
.♥.num_8 .mark:before {
  top: calc(356px / 8 * 1.5);
  content: '♥       ♥\A♥';
  line-height: calc(356px / 8);
}
.♥.num_8 .mark:after {
  content: '♥';
}
.♣.num_8 .mark:before {
  top: calc(356px / 8 * 1.5);
  content: '♣       ♣\A♣';
  line-height: calc(356px / 8);
}
.♣.num_8 .mark:after {
  content: '♣';
}
.♦.num_8 .mark:before {
  top: calc(356px / 8 * 1.5);
  content: '♦       ♦\A♦';
  line-height: calc(356px / 8);
}
.♦.num_8 .mark:after {
  content: '♦';
}
.num_8 .mark {
  text-indent: -9999px;
}
.num_8 .mark:before {
  -webkit-box-reflect: below calc(356px / 8);
}
.num_8 .mark:after {
  width: 50%;
  text-indent: 0;
  line-height: calc(356px);
  -webkit-box-reflect: right;
}
/* number9 */
.♠.num_9 .mark:before {
  content: '♠       ♠\A♠       ♠';
}
.♥.num_9 .mark:before {
  content: '♥       ♥\A♥       ♥';
}
.♣.num_9 .mark:before {
  content: '♣       ♣\A♣       ♣';
}
.♦.num_9 .mark:before {
  content: '♦       ♦\A♦       ♦';
}
.num_9 .mark {
  display: table-cell;
  vertical-align: middle;
}
.num_9 .mark:before {
  line-height: calc(356px / 5);
  width: 100%;
  text-align: center;
  top: calc(356px / 5 / 2);
  -webkit-box-reflect: below;
}
/* num 10 */
.♠.num_10 .mark:before {
  content: '♠       ♠\A♠       ♠';
}
.♥.num_10 .mark:before {
  content: '♥       ♥\A♥       ♥';
}
.♣.num_10 .mark:before {
  content: '♣       ♣\A♣       ♣';
}
.♦.num_10 .mark:before {
  content: '♦       ♦\A♦       ♦';
}
.num_10 .mark {
  height: 50%;
  line-height: calc(356px / 5 * 3);
  -webkit-box-reflect: below;
}
.num_10 .mark:before {
  line-height: calc(356px / 5);
  width: 100%;
  text-align: center;
  top: calc(356px / 5 / 2);
}
.♠.num_11 .mark:after, .♠.num_12 .mark:after, .♠.num_13 .mark:after {
  content: '♠';
}
.♥.num_11 .mark:after, .♥.num_12 .mark:after, .♥.num_13 .mark:after {
  content: '♥';
}
.♣.num_11 .mark:after, .♣.num_12 .mark:after, .♣.num_13 .mark:after {
  content: '♣';
}
.♦.num_11 .mark:after, .♦.num_12 .mark:after, .♦.num_13 .mark:after {
  content: '♦';
}
.num_11 .mark, .num_12 .mark, .num_13 .mark {
  text-indent: -9999px;
}
.num_11 .mark:before, .num_12 .mark:before, .num_13 .mark:before {
  text-indent: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  line-height: calc(356px);
}
.num_11 .mark:after, .num_12 .mark:after, .num_13 .mark:after {
  text-indent: 0;
  font-size: 45px;
  width: 100%;
  line-height: calc(356px);
}
/* num 11 */
.num_11 .mark:before {
  content: "J";
}
.num_11 .mark:after {
  top: -18px;
  left: -38px;
}
/* num 12 */
.num_12 .mark:before {
  content: "Q";
}
.num_12 .mark:after {
  top: -3px;
}
/* num 13 */
.num_13 .mark:before {
  content: "K";
}
.num_13 .mark:after {
  top: -10px;
  left: 50px;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
li {
  list-style-type: none;
}
