<% if (env === 'development') { %>
<script src="//localhost:1341/js/bundle.js"></script>
<% } else { %>
<script src="/js/bundle.js"></script>
<% } %>
<script>
navigator.serviceWorker.register("/serviceWorker.js")
.then((registration) => {
console.log("serviceWorker registed.")
}).catch((error) => {
console.warn("serviceWorker error.", error)
})
</script>
</body>
</html>
