<article ng-class="{loading: tumblr.showLoading}">
	<header>
		<h1>{{tumblr.item.title}}</h1>
		<ul class="data">
			<li class="date"><time datetime="{{tumblr.item.timestamp | dateParse | date:'yyyy-MM-ddThh:mm:ssZ'}}" pubdate>{{tumblr.item.timestamp | dateParse | date:'yyyy-MM-dd HH:mm:ss'}}</time></li>
			<li class="tag" ng-repeat="tag in tumblr.item.tags">
				<a href="/diary/tags/{{tag}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{tag}}'">{{tag}}</a>
			</li>
		</ul>
	</header>

	<div class="content">
		<nav class="pageNav" id="pageNav">
			<h2 class="pageNav">目次</h2>
			<ol>
				<li ng-repeat="headding in pageHeadingElement" ng-cloak ng-if="headding.tagName === 'H2'">
					<a ng-href="#{{headding.id}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{headding.innerText}}'">{{headding.innerText}}</a>
				</li>
			</ol>
		</nav>

		<div ng-bind-html="tumblr.item.body">
		</div>
		<p ng-cloak ng-show="tumblr.showErrorMessage" class="center"><small>apiのメンテナンス、もしくは読み込み環境の影響で読み込みに失敗しました。<br>時間をおいてお試しください。</small></p>

		<sns></sns>
	</div>
</article>