<article>
	<header>
		<h1>写真</h1>
	</header>

	<div class="content" ng-class="{loading: flickr.showLoading}">
		<!-- <ul class="tags">
			<li ng-repeat="tag in tags" ng-cloak>
				<a ng-href="/tags/{{tag}}">{{tag}}</a>
			</li>
		</ul> -->

		<ul class="thumbnails center">
			<li ng-repeat="item in flickr.items" ng-cloak>
				<a href="http://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_b.jpg" ga="'send', 'event', '{{currentPage}}', 'click', '{{item.id}}'" colorbox="{transition:'none', maxWidth: '90%'}"><img ng-src="http://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_q.jpg"></a>
			</li>
		</ul>
		<p ng-cloak ng-show="flickr.showErrorMessage" class="center"><small>apiのメンテナンス、もしくは読み込み環境の影響で読み込みに失敗しました。<br>時間をおいてお試しください。</small></p>

		<sns></sns>
	</div>
</article>