<article>
	<header>
		<h1>サイトについて</h1>
	</header>


	<div class="content">
		<p>HTML, CSS, Javascript, デザインの記事や日記を書いたり。写真やイラストを載せています。</p>
		<!--<a href="http://qiita.com/">Qiita</a>, <a href="https://www.tumblr.com">Tumblr</a>, <a href="https://www.flickr.com/">Flickr</a>, <a href="http://www.pixiv.net/">pixiv</a>のapiを使って構成されています。-->

		<nav class="pageNav" id="pageNav">
			<h2 class="pageNav">目次</h2>
			<ol>
				<li ng-repeat="headding in pageHeadingElement" ng-cloak ng-if="headding.tagName === 'H2'">
					<a ng-href="#2-{{$index + 1}}">{{headding.innerText}}</a>
				</li>
			</ol>
		</nav>

		<h2>使用しているツール</h2>
		<ul class="links">
			<li><a href="http://www.adobe.com/jp/products/photoshop.html">Photoshop</a></li>
			<li><a href="http://www.sublimetext.com/">Sublime Text</a></li>
			<li><a href="http://pngmini.com/">ImageAlpha</a></li>
			<li><a href="https://imageoptim.com/">ImageOptim</a></li>
			<li><a href="http://www.jpegmini.com/">JPEGmini</a></li>
		</ul>

		<h2>サイトの構成</h2>
		<ul class="links">
			<li><a href="http://www.w3.org/TR/html5/">HTML5</a></li>
			<li><a href="http://www.w3.org/standards/techs/css#w3c_all">CSS3</a></li>
			<li><a href="http://sass-lang.com/">Sass</a></li>
			<li><a href="http://compass-style.org/">Compass</a></li>
			<li><a href="https://angularjs.org/">AngularJS</a></li>
			<li><a href="http://requirejs.org/">RequireJS</a></li>
			<li><a href="http://www.typescriptlang.org/">Typescript</a></li>
			<li><a href="http://nodejs.org/">Node.js</a></li>
			<li><a href="http://www.mongodb.org/">MongoDB</a></li>
			<li><a href="https://github.com/">Github</a></li>
		</ul>
		<p>詳しくはGithubにあげてます。(<a href="https://github.com/kamem/clover.blue">clover.blue</a>)</p>

		<h2>イラストを描くときのツール</h2>
		<ul class="links">
			<li><a href="http://www.clipstudio.net/">CLIP STUDIO</a></li>
			<li><a href="http://www.adobe.com/jp/products/photoshop.html">Photoshop</a></li>
		</ul>

		<h2>ライセンス</h2>
		<p>このサイト内の全ての文書とファイル(画像やスタイルシートも含む)は、別のライセンス情報が明記されていない限り<a href="http://opensource.org/licenses/MIT">MIT License</a>の元で公開されています。</p>

		<h2>中の人</h2>
		<h3>kamem: かめ</h3>
		<p>フリーでWebを制作する仕事をしています。学校で講師をしています。HTML,CSS,Javascriptを使ったフロントエンドな仕事からデザインまでを担当。主にプロジェクトに参加してサイトを作っています。自分でひらめいたことを作ったりするのが好きです。読書、絵、カラオケ、カメラ、お酒とか好きです。スポーツはテニスとか、野球とかが好きです。</p>

		<ul class="serviceLink">
			<li class="twitter"><a href="http://twitter.com/kamem">Twitter</a></li>
			<li class="facebook"><a href="http://www.facebook.com/kamem0">Facebook</a></li>
			<li class="mixi"><a href="http://mixi.jp/show_profile.pl?id=3573046">mixi</a></li>
			<li class="flickr"><a href="http://www.flickr.com/photos/37978321@N03/">Flickr</a></li>
			<li class="github"><a href="https://github.com/kamem">Github</a></li>
			<li class="qiita"><a href="https://qiita.com/kamem">Qiita</a></li>
			<li class="tumblr"><a href="https://www.tumblr.com/blog/develo0">tumblr</a></li>
			<li class="delicious"><a href="https://delicious.com/iza0">Delicious</a></li>
			<li class="booklog"><a href="https://booklog.jp/users/kamem">Booklog</a></li>
			<li class="pixiv"><a href="http://www.pixiv.net/member.php?id=112090">pixiv</a></li>
			<li class="stackOverflow big"><a href="http://ja.stackoverflow.com/users/7455/kamem">Stack Overflow</a></li>
		</ul>

		<h2>お問い合わせ</h2>
		<p>お仕事依頼、サイトについての質問などがありましたら上記SNSからの連絡、もしくは下記メールアドレスよりご連絡ください。</p>
		<ul>
			<li class="mail">mail☆develo.org</li>
		</ul>

		<sns></sns>
	</div>
</article>