<article>
	<header>
		<h1>デザイン</h1>
	</header>

	<div class="content" ng-class="{loading: tumblr.showLoading}">
		<ul class="thumbnails center">
			<li ng-repeat="item in tumblr.items">
				<a ng-href="{{item.original_size.url}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{item.id}}_{{$index}}'" title="{{item.caption | tumblrDomainReplace}}" colorbox="{transition:'none', maxWidth: '90%'}" rel="items"><img ng-src="{{item.alt_sizes[item.alt_sizes.length - 1].url}}"></a>
			</li>
		</ul>
		<p ng-cloak ng-show="tumblr.showErrorMessage" class="center"><small>apiのメンテナンス、もしくは読み込み環境の影響で読み込みに失敗しました。<br>時間をおいてお試しください。</small></p>

		<sns></sns>
	</div>
</article>