<article>
	<header>
		<h1>clover.blue</h1>
	</header>

	<div class="content">
		<figure class="main" style="background-image: url(http://farm{{flickr.items[0].farm}}.staticflickr.com/{{flickr.items[0].server}}/{{flickr.items[0].id}}_{{flickr.items[0].secret}}_b.jpg);"><img ng-src="http://farm{{flickr.items[0].farm}}.staticflickr.com/{{flickr.items[0].server}}/{{flickr.items[0].id}}_{{flickr.items[0].secret}}_b.jpg"></figure>

		<section class="narrowly">
			<h2 class="weblog">Resent Weblog</h2>
			<ul class="tags">
				<li ng-repeat="tag in qiita.tags" ng-cloak>
					<a ng-href="/weblog/tags/{{tag}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{tag}}'">{{tag}}</a>
				</li>
			</ul>
			<ul ng-class="{loading: qiita.showLoading}">
				<li ng-repeat="item in qiita.items | limitTo:5" ng-cloak>
					<a ng-href="/items/{{item.uuid}}" ga="'send', 'event', '/', 'click', '{{item.title}}'">{{item.title}}</a>
				</li>
			</ul>
			<p ng-cloak ng-show="qiita.showErrorMessage" class="center"><small>apiのメンテナンス、もしくは読み込み環境の影響で読み込みに失敗しました。<br>時間をおいてお試しください。</small></p>
		</section>

		<section class="narrowly">
			<h2 class="diary">Resent Diary</h2>
			<ul class="tags">
				<li ng-repeat="tag in tumblr.tags" ng-cloak>
					<a ng-href="/diary/tags/{{tag}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{tag}}'">{{tag}}</a>
				</li>
			</ul>
			<ul ng-class="{loading: tumblr.showLoading}">
				<li ng-repeat="item in tumblr.items" ng-cloak ng-if="item.type !== 'photo'">
					<a ng-href="/post/{{item.id}}" ga="'send', 'event', '{{currentPage}}', 'click', '{{item.title}}'">{{item.title}}</a>
				</li>
			</ul>
			<p ng-cloak ng-show="tumblr.showErrorMessage" class="center"><small>apiのメンテナンス、もしくは読み込み環境の影響で読み込みに失敗しました。<br>時間をおいてお試しください。</small></p>
		</section>

		<sns></sns>
	</div>
</article>