<ul class="sns">
	<li class="hatena"><a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></li>
	<li class="facebookLike"><div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true" data-font="segoe ui"></div><div id="fb-root"></div></li>
	<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></li>
	<li class="google"><div class="g-plusone" data-size="medium" data-width="120"></div></li>
</ul>