<% include ../header %>

<main role="main">
	<article>
		<header>
			<h1>デザイン</h1>
		</header>
		<div class="content">
			<ul class="thumbnails center">
				<% for(var i = 0;i < item.length;i++) { %>
				<li>
					<a href="<%= item[i].url %>"><img src="<%= item[i].url %>"></a>
				</li>
				<% } %>
			</ul>
		</div>
	</article>
</main>

<% include ../footer %>