<% include ../header %>

<main role="main">
	<article>
		<header>
			<h1 class="off">clover.blue</h1>
		</header>

		<div class="content">
			<section>
				<h2>Weblog</h2>
				<ul>
					<% for(var i = 0;i < qiita.length;i++) { %>
					<li>
						<a href="/items/<%= qiita[i].uuid %>"><%= qiita[i].title %></a>
					</li>
					<% } %>
				</ul>
			</section>

			<section>
				<h2>Diary</h2>
				<ul>
					<% for(var i = 0;i < tumblr.length;i++) { %>
					<% if(tumblr[i].type !== 'photo') { %>
					<li>
						<a href="/post/<%= tumblr[i].uuid %>"><%= tumblr[i].title %></a>
					</li>
					<% } %>
					<% } %>
				</ul>
			</section>
		</div>
	</article>
</main>

<% include ../footer %>