@import "settings";

:root {
  --radius: 110px;
}

.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.cards {
  position: absolute;
  z-index: -1;
  transform-origin: 50%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.card {
  transform-origin: 50%;
  margin: auto;
}

.name {
}


.about {
  /* transform: rotate(calc((360deg / 14) * 10)) !important; */
  .card {
    transition-property: all;
    transition-duration:1s;
    transition-timing-function: ease-in-out;
  }
}

.yotukado {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .card {
    opacity: 0.7;
    &.heart.num_1{
      transform: rotate(30deg);
      left: -60px;
      top: -80px;
    }
    &.clover.num_1{
      transform: rotate(-40deg);
      right: -60px;
      top: -50px;
    }
    &.spade.num_1{
      transform: rotate(-10deg);
      left: -70px;
      bottom: -70px;
    }
    &.dia.num_1{
      transform: rotate(30deg);
      right: -100px;
      bottom: -100px;
    }
  }
}


.main {
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 0;
  top: -190px;
  transform: rotate(calc((360deg / 14) * 10.5));
  .card {
    opacity: 0.8;
    transform-origin: 50% calc(var(--card-height) + var(--radius));
    top: calc(var(--card-height) / -2 - var(--radius));
    right: 0;
    bottom: calc(var(--card-height) / 2 + var(--radius));
    left: 0;

    transition-property: all;
    transition-duration:1s;
    transition-timing-function: ease-in-out;

    &:not(.selected):hover .inner {
      transform: rotateY( 180deg );
    }

    @for $i from 1 to 52 {
      &:nth-child($i):not(.selected) {
        transform: rotate(calc((360deg / 14) * $i)) scale(0.54);
      }
    }
  }

  .selected {
    transform-origin: 50%;
    transform: rotate(0) rotateY( 0 );
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}
