<% include ../header %>

<main role="main">
	<article>
		<header>
			<h1>日記</h1>
		</header>
		<div class="content">
			<ul>
				<% for(var i = 0;i < tumblr.length;i++) { %>
				<% if(tumblr[i].type !== 'photo') { %>
				<li>
					<a href="/post/<%= tumblr[i].uuid %>"><%= tumblr[i].title %></a>
				</li>
				<% } %>
				<% } %>
			</ul>
		</div>
	</article>
</main>

<% include ../footer %>